.productname {
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

td.index {
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-right: 15px;
}

input.delete {
    background-color: red;
    color: white;
    border: none;
    font-size: 14pt;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100px;
}

form {
    text-align: center;
}

table.producttable {
    width: 84%;
    margin-left: 15%;
}

td.cellname {
    text-align: left;
}

.price {
    text-align: center;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

.subtotal {
    text-align: center;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

.totalname {
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    color: green;
}

.totalprice {
    text-align: right;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    color: green;
}

a.checkoutorder {
    text-decoration: none;
    color: white;
}

table.checkoutorder {
    margin-left: 15%;
}

td.checkoutorder {
    background-color: green;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    padding: 10px;
    border-width: 10px;
}

.productCounter {
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    color: blue;
    text-align: center;
}

th {
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    color: darkslateblue;
}

.thItem, .thCategory {
    text-align: left;
}

td.sort {
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
}

option.sort {
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}

select.sort {
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}

input.sort {
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}