.textcontent {
    font-size: 30pt;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.form {
    text-align: center;
    padding-top: 20px;
    padding-left: 200px;
}

.h1 {
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
}

.h2 {
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
}

.submite {
    background-color: green;
    color: white;
    border: none;
    font-size: 16pt;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
}