body {
    background-color: #f1df78;
}
div {
    border: 1px solid black;
}
.sidebar {
    background-color: #f6da33;
    float: left;
    margin-right: 10px;
    max-width: 150px;
    min-width: 100px;
}
.container {

}