body {
    background-color: #f1df78;
}

div {
    border: 1px solid black;
}

.header {
    text-align: center;
}

.sidebar {
    background-color: #f6da33;
    float: left;
    margin-right: 10px;
    max-width: 150px;
    min-width: 100px;
    min-height: 1000px;
    padding-left: 10px;
}