body {
    background-color: white;
    margin: 0px;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #a6a6a8;
}

table.sidebar {
    border-spacing: 5px;
}

td.tdsidebar {
    text-align: center;
    padding: 5px;
    border: 1px solid #a6a6a8;
    border-width: 2px;
    border-radius: 5px;
}

.sidebar {
    float: left;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

div.textcontent {
    margin-left: 220px;
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
}

div.websiteheader {
    text-align: left;
    color: white;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 21pt;
    font-family: 'Comfortaa', cursive;
}

table.websiteheader {
    background-color: #343a40;
    width: 100%;
}

.cartwidget {
    text-align: right;
}

