<div>
    <p>Спасибо!</p>
</div>
<div>
    <p>Спасибо за размещение заказа #</p>
</div>
<div>
    <p>Мы отправим ваш заказ как можно скорее!</p>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Вернуться в магазин</a>
</div>