<div class="textcontent">
    <p>Спасибо!</p>
</div>
<div class="textcontent">
    <p>Спасибо за размещение заказа.</p>
</div>
<div class="textcontent">
    <p>Мы отправим ваш заказ как можно скорее!</p>
</div class="textcontent">
<div>
    <a asp-controller="Home" asp-action="Index">Вернуться в магазин</a>
</div>