@model PC_Builder.ViewModels.BasketViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/StyleBasket.css">
        <title>PC Builder</title>
    </head>
    <body>
        <div class="header">
            <p>Корзина</p>
        </div>

        <div class="sidebar">
            <a asp-controller="Home" asp-action="Index">Вернуться</a><br />
        </div>
        
        <div>
            @foreach (var item in Model.Products)
            {
                <p>@item.Name @item.Price руб.</p>
            }
        </div>
    </body>
</html>