<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/StyleLayout.css">
        <title>PC Builder</title>
    </head>
    <body>
        <div class="sidebar">
            <a asp-controller="Home" asp-action="Index">На главную</a><br /> <!--return null-->
            <a asp-controller="Configurator" asp-action="CompletePC" asp-route-category="cpu">Процессор</a><br />
            <a asp-controller="Configurator" asp-action="CompletePC" asp-route-category="cooling">Охлаждение</a><br />
            <a asp-controller="Configurator" asp-action="CompletePC" asp-route-category="motherboard">Материнская плата</a><br />
            <a asp-controller="Configurator" asp-action="CompletePC" asp-route-category="ram">Оперативная память</a><br />
            <a asp-controller="Configurator" asp-action="CompletePC" asp-route-category="gpu">Видеокарта</a><br />
            <a asp-controller="Configurator" asp-action="CompletePC" asp-route-category="datastorage">Хранилище данных</a><br />
            <a asp-controller="Configurator" asp-action="CompletePC" asp-route-category="case">Корпус</a><br />
            <a asp-controller="Configurator" asp-action="CompletePC" asp-route-category="powersupply">Блок питания</a><br />
            <a asp-controller="Cart" asp-action="ShowCart">Корзина</a><br />
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>