<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/StyleLayout.css">
        
        <title>PC Builder</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    </head>
    <body>
        <header>
            <div class="websiteheader">
                <p>PC Store</p>
            </div>
            <div class="cartwidget">
                @await Component.InvokeAsync("CartWidget")
            </div>
        </header>
        <section>
            <div class="sidebar">
                <table class="sidebar">
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="Home" asp-action="Index">На главную</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="PCstore" asp-action="CompletePC" asp-route-category="cpu">Процессор</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="PCstore" asp-action="CompletePC" asp-route-category="cooling">Охлаждение</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="PCstore" asp-action="CompletePC" asp-route-category="motherboard">Материнская плата</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="PCstore" asp-action="CompletePC" asp-route-category="ram">Оперативная память</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="PCstore" asp-action="CompletePC" asp-route-category="gpu">Видеокарта</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="PCstore" asp-action="CompletePC" asp-route-category="datastorage">Хранилище данных</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="PCstore" asp-action="CompletePC" asp-route-category="case">Корпус</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="PCstore" asp-action="CompletePC" asp-route-category="powersupply">Блок питания</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdsidebar">
                            <a class="sidebarref" asp-controller="Cart" asp-action="ShowCart">Корзина</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                @RenderBody()
            </div>
        </section>
    </body>
</html>