<div class="textcontent">
    <p>
        Конфигуратор системного блока HYPERPC поможет подобрать комплектацию ПК и проверить комплектующие на совместимость. 
        Соберите копьютер своей мечты!
    </p>
</div>