@model PC_Builder.ViewModels.IndexViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PC Builder</title>
    </head>
    <body>
        <p>Процессор</p>
        <form>
            <select>
                @foreach (var item in Model.CPU_Manufacturers)
                {
                    <option>@item.Manufacturer</option>
                }
            </select>
        </form>
        <form>
            <select>
                @foreach (var item in Model.CPUs)
                {
                    <option>@item.CPU_name</option>
                }
            </select>
        </form>
    </body>
</html>