@model PC_Builder.ViewModels.IndexViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/StyleIndex.css">
        <title>PC Builder</title>
    </head>
    <body>
        <p>Все товары</p>
        <p>Процессоры</p>
        <p>Охлаждение</p>

        @foreach (var item in Model.CPUs)
        {
            <p>@item.Name</p>
        }

        @foreach (var item in Model.Coolings)
        {
        <p>@item.Name</p>
    }
    </body>
</html>