@model PC_Builder.ViewModels.IndexViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PC Builder</title>
    </head>
    <body>
        <p>Процессор</p>
        <form>
            <select name="CPU_Manufacturer_Id">
                @foreach (var item in Model.CPU_Manufacturers)
                {
                    <option value="@item.Id_Manufacturer">@item.Manufacturer</option>
                }
            </select>
        <input type="submit" value="Показать"/>
        </form>
        <br/>
        <form>
            @foreach (var item in Model.CPUs)
            {
                <p><input type="radio" name="CPU"> @item.CPU_name</p>
            }
        </form>
    </body>
</html>