@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>PC Builder</title>
</head>
<body>
    <h2>Login Form</h2>
    <form>
        <p>
            <label>Login</label><br />
            <input name='Login' />
        </p>
        <p>
            <label>Password</label><br />
            <input type='password' name='password' />
        </p>
        <input type='submit' value='Login' />
    </form>
</body>
</html>