@model PC_Builder.ViewModels.CartViewModel

<div class="header">
    <p>Корзина</p>
</div>

<div>
    <table>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    <p>@item.Name @item.Price руб.</p>
                </td>
                <td>
                    <form asp-controller="Cart" asp-action="RemoveCart" asp-route-ProductId="@item.ProductId">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <table>
        <tr>
            <td>
                <p>Общая стоимость</p>
            </td>
            <td>
                <p>@Model.Total</p>
            </td>
            <td>
                <a asp-controller="Order" asp-action="ShowCheckout">Оплатить</a>
            </td>
        </tr>
    </table>
</div>