@model PC_Builder.ViewModels.ProfileViewModel

<div>
    <table>
        <form asp-controller="Account" asp-action="EditAccount">
            <tr>
                <td>
                    <p>Eamil</p>
                </td>
                <td>
                    <input asp-for="Email" id="email" type="text" required/>
                    <span asp-validation-for="Email"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Логин</p>
                </td>
                <td>
                    <input asp-for="Login" id="login" type="text" required/>
                    <span asp-validation-for="Login"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Новый пароль</p>
                </td>
                <td>
                    <input asp-for="Password" type="password" />
                    <span asp-validation-for="Password"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Сохранить" />
                </td>
                <td>
                <a asp-controller="Account" asp-action="Profile">Назад</a>
                </td>
            </tr>
        </form>
    </table>
</div>

<script src="/js/profileCookie.js"></script>