@model PC_Builder.ViewModels.ProfileViewModel

<link rel="stylesheet" href="/css/Profile.css">

<div class="sectionName">
    <p>Мой профиль</p>
</div>

<div>
    <table class="profiletable">
        <tr>
            <td class="profile">
                <p class="profiledata">Eamil</p>
            </td>
            <td class ="profile">
                <p id="email" class="profiledata">@Model.Email</p>
            </td>
        </tr>
        <tr>
            <td class="profile">
                <p class="profiledata">Логин</p>
            </td>
            <td class="profile">
                <p id="login" class="profiledata">@Model.Login</p>
            </td>
        </tr>
    </table>

    <table class="AccountOptionsTable">
        <tr>
            <td class ="tdoptions">
                <p><a class="options" asp-controller="Account" asp-action="ShowFormEditAccount" asp-route-email="@Model.Email" asp-route-login="@Model.Login">Редактировать</a></p>
            </td>
            <td class="tdoptions">
                <p><a class="options" asp-controller="Account" asp-action="RemoveAccount">Удалить профиль</a></p>
            </td>
        </tr>
    </table>
</div>