@model PC_Builder.ViewModels.OrdersViewModel

<link rel="stylesheet" href="/css/ShowOrders.css">

<div>
    <p class="header">Мои заказы</p>

    <table>
        @{
            int index = 1;
        }

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td valign="top">
                    <p class="index">@index</p>

                    @{
                        index++;
                    }
                </td>
                <td valign="top">
                    <p class="products">@item.Products</p>
                </td>
                <td valign="top">
                    <p class="p">Почта России</p>
                    <p class="p">(Посылка)</p>
                </td>
                <td valign="top">
                    <p class="p">@item.Date</p>
                </td>
            </tr>
        }
    </table>
</div>