@model PC_Builder.ViewModels.CartViewModel

<link rel="stylesheet" href="/css/CartWidget.css">

<table class="widget">
    <tr>
        @if (Model.ProductCounter != 0)
        {
            <td>
                <p class="widget">Корзина: @Model.ProductCounter товар(ов) &#8381 @Model.Total</p>
            </td>
        }
        <td>
            <p><a asp-controller="Cart" asp-action="ShowCart"><img src="/images/Cart.png"></a></p>
        </td>
        <td>
            <p><a asp-controller="" asp-action=""><img src="/images/Personal.png"></a></p>
        </td>
        <td>
            <p><a asp-controller="Account" asp-action="Exit"><img src="/images/Exit.png"></a></p>
        </td>
    </tr>
</table>